<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>url_navigation_html_page</title>
</head>
<body>
    <center>
        <h1>This is the url_navigation class for practise</h1>
        <h2>call to second page</h2>
        <h3><a href="{% url 'url_navigation2' %}">Go to second page</a></h3>
        
    </center>
</body> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Navigation HTML Page</title>
</head>
<body>
    <center>
        <h1>calling to my GF</h1>
        <h3><a href="{% url 'url_navigation2' %}">press to call</a></h3>
    </center>
</body>
</html>

</html>